site_name: Tanzu Application Platform Reference Service Packages
site_url: https://vmware-tanzu.github.io/tanzu-application-platform-reference-service-packages
site_description: Site for examples related to service packages implementing service binding spec to be consumed by VMware Tanzu Application Platform
docs_dir: docs/
repo_name: vmware-tanzu/tanzu-application-platform-reference-service-packages
repo_url: https://github.com/vmware-tanzu/tanzu-application-platform-reference-service-packages
edit_uri: ''
copyright: 'Copyright &copy; 2022 VMware'

# Theme
# Configuration
theme:
  features:
    - navigation.tabs
    - navigation.instant
    - navigation.tabs.sticky
    - content.code.annotate
  name: material
  language: 'en'
  logo: assets/vm-logo.png
  # icon:
  #   logo: material/cloud
  palette:

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  font:
    text: 'Metropolis,Avenir Next,Helvetica Neue,Arial,sans-serif'
    code: 'JetBrains Mono'

extra_css:
  - assets/extra.css
    
plugins:
  - git-revision-date-localized:
      type: iso_datetime
  - search
  - minify:
      minify_html: true

extra:
  generator: false
  version:
    method: mike
    provider: mike

# Extensions
markdown_extensions:
  - abbr
  - attr_list
  - footnotes
  - admonition
  - codehilite:
      linenums: true
      guess_lang: true
  - def_list
  - meta
  - toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format  
  - pymdownx.tabbed:
      alternate_style: true 
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

nav:
- HOME: index.md
- Use cases:
  - AWS:
    - Packages:
      - Elasticache with ACK:
        - usecases/aws/packages/elasticache/ack/index.md
        - usecases/aws/packages/elasticache/ack/manual.md
        - usecases/aws/packages/elasticache/ack/package.md
    - Prerequisites:
      - usecases/aws/prerequisites/index.md
      - usecases/aws/prerequisites/eks.md
      - usecases/aws/prerequisites/ack.md
  - Azure:
    - Packages:
      - MongoDB with Crossplane:
        - usecases/azure/packages/mongodb/crossplane/index.md
        - usecases/azure/packages/mongodb/crossplane/consume-instance.md
        - usecases/azure/packages/mongodb/crossplane/consume-package.md
    - Prerequisites:
      - usecases/azure/prerequisites/index.md
  - Multicloud:
    - Packages:
      - Postgresql with Crossplane:
        - usecases/multicloud/packages/psql/index.md
        - usecases/multicloud/packages/psql/create.md
- Crossplane:
  - crossplane/index.md
  - Providers:
    - crossplane/providers/aws.md
    - crossplane/providers/azure.md
    - crossplane/providers/terraform.md
    - crossplane/providers/helm.md
    - crossplane/providers/kubernetes.md
