name: Publish workflow

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}

env:
  PACKAGE_REGISTRY: ghcr.io
  PACKAGE_REPOSITORY_BASE: ${{ github.repository }}

on:
  push:
    branches:
      - main
    paths:
      - 'amazon/crossplane/**'
      - 'azure/crossplane/**'
      - 'google/crossplane/**'

jobs:
  pre-publish:
    uses: ./.github/workflows/crossplane-prepublish.yml

  debug:
    runs-on: ubuntu-latest
    needs:
      - pre-publish
    steps:
      - run:
          echo "packages='${{ needs.pre-publish.outputs.packages }}'"
          echo "packages_fromJson='${{ fromJson(needs.pre-publish.outputs.packages) }}'"

  publish:
    needs:
      - pre-publish
      - debug
    uses: ./.github/workflows/crossplane-publish.yml
    strategy:
      matrix: ${{ fromJson(needs.pre-publish.outputs.packages) }}
    with:
      package: ${{ matrix.PACKAGE_NAME }}
      provider: ${{ matrix.PACKAGE_PROVIDER }}
      version: ${{ needs.pre-publish.outputs.version }}
