name: Reusable workflow for testing Crossplane packages


on:

  workflow_call:

    inputs:
      package_version:
        type: string
        required: true
      package_name:
        type: string
        required: true
      package_provider:
        type: string
        required: true
      package_registry:
        type: string
        required: true
      package_repository:
        type: string
        required: true
      kubernetes_version:
        type: string
        default: v1.26.0
      kind_version:
        type: string
        default: v0.17.0

    secrets:
      AZURE_CONFIG:
        required: false
jobs:

  test:
    runs-on: ubuntu-latest
    env:
      CROSSPLANE_NAMESPACE: upbound-system
      CONFIG_VERSION: ${{ inputs.package_version }}
      CONFIG_IMAGE: ${{ inputs.package_registry }}/${{ inputs.package_repository }}
      UNIQUE_NAME: ${{ inputs.package_name }}-github-${{ github.run_id }}-${{ github.run_attempt }}

    steps:

      - name: Get runner info
        run: |
          uname -a
          top -bn1

      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Carvel tools
        uses: vmware-tanzu/carvel-setup-action@v1
        with:
          only: ytt
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install up CLI
        run: |
          curl -sL "https://cli.upbound.io" | sh
          sudo mv up /usr/local/bin/
          up --version

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.5.0
        with:
          verbosity: 5
          version: ${{ inputs.kind_version }}
          kubectl_version: ${{ inputs.kubernetes_version }}
          node_image: kindest/node:${{ inputs.kubernetes_version }}

      - name: Verify Cluster
        run: |
          kubectl version
          which kubectl
          kubectl cluster-info
          kubectl get storageclass standard

      - name: Install Universal Crossplane
        run: |
          ./scripts/crossplane-install-uxp.sh ${UXP_VERSION}
        env:
          UXP_VERSION: v1.10.1-up.1

      - name: Test Crossplane package
        id: test
        run: |
          if [ -x ${SCRIPT} ]; then ${SCRIPT}; fi
        env:
          INSTALL_PROVIDER: "true"

          SCRIPT: ./scripts/crossplane-e2e-${{ inputs.package_provider }}-${{ inputs.package_name }}.sh
          CLAIM_NAME: ${{ env.UNIQUE_NAME }}
          TEST_APP_NAME: ${{ env.UNIQUE_NAME }}
          CONFIG_NAME: ${{ env.UNIQUE_NAME }}

          # Azure-specific variable
          AZURE_CONFIG: ${{ secrets.AZURE_CONFIG }}

      - name: Cleanup
        if: always()
        run: |
          if [ -x ${SCRIPT} ]; then ${SCRIPT}; fi
        env:
          SCRIPT: ./scripts/crossplane-e2e-${{ inputs.package_name }}/cleanup.sh
          CLAIM_NAME: ${{ env.UNIQUE_NAME }}
          TEST_APP_NAME: ${{ env.UNIQUE_NAME }}
          CONFIG_NAME: ${{ env.UNIQUE_NAME }}
